.container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, black, #222222, black);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    animation: animL;
    animation-delay: 1s;
    animation-duration: 4s;
    opacity: 1;
}

.loader {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader::before {
    content: "";
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(8px);
    position: absolute;
    width: 140px;
    height: 55px;
    z-index: 20;
    border-radius: 0 0 10px 10px;
    border: 1px solid rgba(255, 255, 255, 0.274);
    border-top: none;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.082);
    animation: anim2 2s infinite;
}

@keyframes animL {
    0%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes anim {
    0%,
    100% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(-65px);
    }
}

@keyframes anim2 {
    0%,
    100% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
}

.div1{
    background: rgb(228, 228, 228);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    z-index: -1;
    animation: anim 2s infinite linear;
    animation-delay: calc(-0.3s * 0);
    transform: translateY(5px);
    margin: 0.2em;
}

.div2{
    background: rgb(228, 228, 228);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    z-index: -1;
    animation: anim 2s infinite linear;
    animation-delay: calc(-0.3s * 1);
    transform: translateY(5px);
    margin: 0.2em;
}

.div3{
    background: rgb(228, 228, 228);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    z-index: -1;
    animation: anim 2s infinite linear;
    animation-delay: calc(-0.3s * 2);
    transform: translateY(5px);
    margin: 0.2em;
}

.div4{
    background: rgb(228, 228, 228);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    z-index: -1;
    animation: anim 2s infinite linear;
    animation-delay: calc(-0.3s * 3);
    transform: translateY(5px);
    margin: 0.2em;
}